<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Meet | The Place Where You Meet The Simplicity of Technology</title>
</head>

<body>
    <div class="nav">
        <div class="container">
            <div class="wrapper">
                <div class="logo">Meet</div>
                <div class="links">
                    <a href="#" class="link">Premium</a>
                    <a href="#" class="link">Status</a>
                    <a href="#" class="link">Support</a>
                </div>
                <div class="login">
                    <a href="/login" class="button">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="test"></div>
</body>

</html>