@use 'global';

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 6rem;
    background: global.$background-secondary;

    .container {
        display: grid;
        align-items: center;
        justify-content: space-evenly;
        grid-template-columns: 25% 50% 25%;
        width: 95%;
        min-height: 3rem;

        div,
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .logo {
            font-size: 24px;
            font-weight: 700;
        }

        .links {
            justify-content: space-evenly;

            .link {
                color: white;
            }
        }

        .login {
            .button {
                width: 6rem;
                height: 2.5rem;
                border-radius: 2rem;
                background: white;
                color: black;
                font-weight: 500;
                text-align: center;
                cursor: pointer;
                transition: 0.5s;
            }

            .button:hover {
                box-shadow: -4px 4px;
                color: purple;
            }
        }
    }
}

.container {
    display: flex;
    width: 100%;
    height: fit-content;
}